{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modeles list</h1>
     {{ form_start (form)}}
    {{ form_widget (form)}}
    <input type="submit" value="Rechercher" />
    {{ form_end(form)}}

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Pays</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for modele in modeles %}
            <tr>
                <td><a href="{{ path('modele_show', { 'id': modele.id }) }}">{{ modele.id }}</a></td>
                <td>{{ modele.libelle }}</td>
                <td>{{ modele.pays }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('modele_show', { 'id': modele.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('modele_edit', { 'id': modele.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('modele_new') }}">Create a new modele</a>
        </li>
    </ul>
{% endblock %}
